.container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #020d14;
}

.top_navigation_menu {
  list-style-type: none;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 13px;
  margin-bottom: 0;
  margin-top: 0;
}

.top_navigation_menu a {
  text-decoration: none;
  display: inline-block;
  margin-right: 72px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #00aaff;
}

.top_navigation_menu li {
  display: inline-block;
}

.main_photo {
  width: 100%;
  height: auto;
  padding-top: 13px;
}

.main_title {
  text-align: center;
  margin-top: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #688793;
}

.first_paragraph {
  text-align: center;
  margin-top: 38px;
  padding-left: 68px;
  padding-right: 68px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #688793;
}

.second_paragraph {
  text-align: center;
  margin-top: 28px;
  padding-left: 68px;
  padding-right: 68px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #688793;
}

.start_button {
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 105px;
  height: 16px;
  border-radius: 4px;
  margin-top: 66px;
  padding: 18px 44px 17px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #dacdcd;
  background-color: #00aaff;
}

.start_button:hover {
  cursor: pointer;
  background-color: #06699a;
}

.copyright {
  margin-top: 0;
  padding-top: 82px;
  padding-bottom: 30px;
  text-align: right;
  padding-left: 714px;
  padding-right: 106px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #688793;
}

.change_theme_btn {
  display: block;
  margin: 0 auto;
  padding: 20px 200px;
  font-size: 34px;
}
